<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>苏外纪检部官网</title>
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/index.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-vue.css" type="text/css">
  <style>
  body, h1, h2, h3, h4, h5, p{
      font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  }
  </style>
</head>

<body>
  <div id="rootNode">
    <!--Navigation-->
    <b-navbar :sticky="true" toggleable="md">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-container>
          <b-row class="justify-content-md-center">
            <b-col md="auto">
              <b-nav is-nav-bar class="auto" v-b-scrollspy="+16">
                <b-nav-item href="#Home">Home</b-nav-item>
                <b-nav-item href="#ScoreBoard">ScoreBoard</b-nav-item>
                <b-nav-item href="#ScoreRanking">ScoreRanking</b-nav-item>
                <b-nav-item href="#ScoreMoments">ScoreMoments</b-nav-item>
                <b-nav-item href="#ScoreZone">ScoreZone</b-nav-item>
              </b-nav>
              <b-col>
          </b-row>
        </b-container>
      </b-collapse>
    </b-navbar>

    <!--Home Screen-->
    <div id="Home" class="bg-primary text-center d-flex align-items-center h-75">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-white display-3">SFLS Discipline Inspection Department</h1>
            <p class="lead text-white">A just, powerful department scoring reasonable marks</p>
          </div>
        </div>
      </div>
    </div>

    <!--ScoreBoard-->
    <b-container id="ScoreBoard">
      <b-row><br><br><br><br></b-row>
      <b-row>
        <b-col>
          <h1 style="text-align:center">ScoreBoard</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="scoreboard_data">
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div style="text-align:right">
            <a data-toggle="modal" data-target="#modal_scoreboard_more"><u>Search ScoreBoard by Date</u></a>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <!--ScoreRanking-->
    <b-container id="ScoreRanking">
      <b-row><br><br><br><br></b-row>
      <b-row>
        <b-col>
          <h1 style="text-align:center">ScoreRanking</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="scoreranking_data">
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div style="text-align:right">
            <a data-toggle="modal" data-target="#modal_scoreranking_more"><u>See Rankings by Week, Month or Semister</u></a>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <!--ScoreMoments-->
    <b-container id="ScoreMoments">
      <b-row><br><br><br><br></b-row>
      <b-row>
        <b-col>
          <h1 style="text-align:center">ScoreMoments</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="scoremoments_data">
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div style="text-align:right">
            <a data-toggle="modal" data-target="#modal_scoremoments_loss"><u>Check When a Class Loss Points</u></a>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <!--ScoreZone-->
    <div id="ScoreZone" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">ScoreZone</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="">
              <div class="form-group"> <label>Username</label>
                <input id="login_username" type="text" class="form-control" placeholder="Enter username"> </div>
              <div class="form-group"> <label>Password</label>
                <input id="login_password" type="password" class="form-control" placeholder="Enter password"> </div>
              <button @click="login" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_scorerboard">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <div class="bg-primary">
      <b-container>
        <div class="py-4"></div>
        <b-row>
          <b-col>
            <p style="font-size:26px">Suzhou Foreign Language School Discipline Inspection Department<br></p>
            <p style="font-size:13px">Official QQ Group:570842242 <br>
            President && QQ: 芮芃 285179308</p>
            <p style="font-size:13px">Powered by HankelBao (All rights reserved&copy; 2018 包涵)</p>
          </b-col>
        </b-row>
        <div class="py-2"></div>
      </b-container>
    </div>

    <!--ScoreBoard More Modal-->
    <div class="modal fade" id="modal_scoreboard_more" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div id="modal_content" class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              ScoreBoard of {{scoreboard_more_date}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
          </div>
          <div class="modal-body">
            <div class="py-5">
              <div class="row">
                <div class="col-md-12">
                  <b-table :items="scoreboard_more_data">
                  </b-table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input v-model="scoreboard_more_date" id="more-on-scoreboard-date" type="text" class="form-control" placeholder="The Chosen Date, in YYYY-MM-DD, e.g. March 1st, 2018 is 2018-03-01" />
            <button @click="update_scoreboard_more" type="button" class="btn btn-default">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>

    <!--ScoreRanking More Modal-->
    <div class="modal fade" id="modal_scoreranking_more" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div id="modal_content" class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              ScoreRanking {{scoreranking_more_type}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
          </div>
          <div class="modal-body">
            <div class="py-5">
              <div class="row">
                <div class="col-md-12">
                  <b-table :items="scoreranking_more_data">
                  </b-table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button @click="update_scoreranking_more('daily')" class="btn btn-secondary">Daily View</button>
              <button @click="update_scoreranking_more('weekly')" class="btn btn-secondary">Weekly View</button>
              <button @click="update_scoreranking_more('monthly')" class="btn btn-secondary">Monthly View</button>
              <button @click="update_scoreranking_more('semisterly')" class="btn btn-secondary">Semester View</button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>

    <!--ScorerBoard Modal-->
    <div class="modal fade" id="modal_scorerboard" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div id="modal_content" class="modal-content">
          <div v-if="scorerboard_status==0">
            <!--Failed-->
            <div class="modal-header">
              <h4 class="modal-title">
                Error...
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
            </div>
            <div class="modal-body">
              <h5>Username or Password Wrong!</h5>
            </div>
          </div>
          <div v-else-if="scorerboard_status==1">
            <!--Succeed-->
            <div class="modal-header">
              <h4 class="modal-title">
                Welcome, {{scorer_name}}
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
            </div>
            <div class="modal-body">
              <div class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 class="text-center">ScoreBoard</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th v-for="value in scorerboard_head">
                              {{value}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="values in scorerboard_body">
                            <td v-for="(value,index) in values">
                              <div v-if="index==0">
                                {{value}}
                              </div>
                              <div v-else>
                                <div v-if="value.score=='NULL'">
                                  <input type="text" :id="value.index" class="form-control">
                                </div>
                                <div v-else>
                                  <input type="text" :id="value.index" :value="value.score" class="form-control">
                                </div>
                                <div v-if="value.reason=='NULL'">
                                  <input type="text" :id="value.indexR" class="form-control" placeholder="enter reason">
                                </div>
                                <div v-else>
                                  <input type="text" :id="value.indexR" :value="value.reason" class="form-control">
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div v-if="scorer_admin==true">
                <input type="text" id="scorer_date" v-model="scorer_admin_date" class="form-control">
              </div>
              <div v-else>
                <input type="hidden" id="scorer_date" value="">
              </div>
              <button @click="scorerboard_scores_reload" type="button" class="btn btn-primary">Load</button>
              <button @click="score_submit" type="button" class="btn btn-primary">Save Changes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          <div v-else-if="scorerboard_status==2">
            <div class="modal-body">
              <h5>Saving Scores.......</h5>
            </div>
          </div>
          <div v-else>
            <div class="modal-header">
              <h4 class="modal-title">
                Saved and Updated!
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
            </div>
            <div class="modal-body">
              <h5>Scores are saved and records are updated</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ScoreMoments Check Class Lossing Points Modal-->
    <div class="modal fade" id="modal_scoremoments_loss" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div id="modal_content" class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              History when {{scoremoments_class_name}} Loss Points
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
          </div>
          <div class="modal-body">
            <div class="py-5">
              <div class="row">
                <div class="col-md-12">
                  <b-table :items="scoremoments_loss_data">
                  </b-table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input v-model="scoremoments_class_name" type="text" class="form-control" placeholder="Enter Class Name" />
            <button @click="update_scoremoments_loss" type="button" class="btn btn-default">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/polyfill.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/bootstrap-vue.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>
